<div id="app" class="">
  <header>
    <nav *ngIf="showNavbar" class="navbar navbar-expand navbar-dark navbar-custom">
      <a href="/home" class="navbar-brand">
        <img src="../assets/logo2.jpg" alt="" class="nav-logo">
      </a>
      <ul class="navbar-nav me-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="top_games">Top Games </a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="gamelist/{{user.id}}">MyGameList</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
        <form class="d-flex" style="height: fit-content; margin-right: 20px; margin-top: 5px;">
          <input 
            class="form-control me-2" 
            type="search" 
            placeholder="Search..." 
            aria-label="Search" 
            [(ngModel)]="gameName"
            [ngModelOptions]="{standalone: true}">
          <button class="btn btn-light" type="submit" (click)="onGameSearch()">Search</button>
        </form>
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link" routerLink="about">About</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn">
        <form class="d-flex" style="height: fit-content; margin-right: 20px; margin-top: 5px;">
          <input 
            class="form-control me-2" 
            type="search" 
            placeholder="Search..." 
            aria-label="Search" 
            [(ngModel)]="gameName"
            [ngModelOptions]="{standalone: true}">
          <button class="btn btn-light" type="submit" (click)="onGameSearch()">Search</button>
        </form>
        <li *ngIf="user.profilePicture.convertedData != null" class="nav-item" style="margin-right: 2%; margin-top: 2px;">
          <a href="/profile/{{user.id}}">
            <img class="rounded-circle" src={{formatPicture(user.profilePicture.convertedData)}} alt="" width="45px" height="45px">
          </a>
        </li>
        <li *ngIf="user.profilePicture.convertedData == null" class="nav-item" style="margin-right: 2%; margin-top: 2px;">
          <a href="/profile/{{user.id}}">
            <img class="rounded-circle" src="../assets/profile.png" alt="" width="45px" height="45px">
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom: 5%;">
            <img src="../assets/menu-colored.png" alt="" width="30px" height="30px">
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown" style="margin-right: 6%;">
            <li><a href="/profile" class="dropdown-item" routerLink="profile/{{user.id}}">{{ username }}</a></li>
            <li><a class="dropdown-item" href="/request_game">Request a Game</a></li>
            <li><a class="dropdown-item" href="/about">About</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href class="dropdown-item" (click)="logout()">LogOut</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>