header{
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navbar-custom {
    background-color: #840428;  
}

.nav-logo
 {
    margin-left: 10px;
    margin-right: 10px;
    height: 4x0px;
    width: 40px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}