
<a
  style="cursor: pointer; margin-bottom: 2px; margin-left: 3%;"
  class="list-group-item"
  (mouseover)="showButtons = true" (mouseleave)="showButtons = false"
>
<div class="d-flex">
  <span class="">
    <img
      *ngIf="boxArtExists(videoGame.images)"
      [src]="formatPicture(findBoxArtData(videoGame.images))"
      [alt]="videoGame.name"
      class="img-responsive"
      style="height: 60px; width: 60px; margin-left: 10%;"
    />
    <img 
        *ngIf="!boxArtExists(videoGame.images)"
        src="../../assets/placeholder.jpeg" 
        alt="" 
        style="height: 60px; width: 60px; margin-left: 10%;">
  </span>
  <div class="flex-grow-1" style="margin-left: 3%;">
    <h5 class="list-group-item-heading">
      {{ videoGame.name }}
    </h5>
    <p class="list-group-item-text">
      {{ videoGame.rating }}
    </p>
  </div>
  
  <div *ngIf="showButtons == true" style="margin-top: 1.5%; margin-right: 2%;">
    <img src="../../../../../assets/edit.png" alt="" (click)="editGame()" width="50">
  </div>
  <div *ngIf="showButtons == true" style="margin-top: 1.5%;">
    <img src="../../../../../assets/delete.png" alt="" (click)="openPopup()" width="50">
  </div>

  <div *ngIf="showButtons == false" style="margin-top: 1.5%; margin-right: 2%;">
    <img src="../../../../../assets/white.jpeg" alt="" width="50">
  </div>
  <div *ngIf="showButtons == false" style="margin-top: 1.5%;">
    <img src="../../../../../assets/white.jpeg" alt="" width="50">
  </div>
</div>
</a>

<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}"
style="backdrop-filter: blur(5px);">
<div class="modal-dialog" role="document">
    <div class="modal-content" style="margin-top: 20%;">
    <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to delete this game? "{{ videoGame.name}}"</h4>
    </div>
    <div class="modal-body">
        <p>Deleting a game is an action that may have consequences!</p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
        No
        </button>
        <button type="button" class="btn btn-success" 
                (click)="onGameDelete()">
        Yes
        </button>
    </div>
    </div>
</div>
</div>


