
<a
  style="cursor: pointer; margin-bottom: 2px; margin-left: 3%;"
  class="list-group-item"
  (mouseover)="showButtons = true" (mouseleave)="showButtons = false"
>
<div class="d-flex">
  <span class="">
    <img
      *ngIf="boxArtExists(videoGame.images)"
      [src]="formatPicture(findBoxArtData(videoGame.images))"
      [alt]="videoGame.name"
      class="img-responsive"
      style="height: 60px; width: 60px; margin-left: 10%;"
    />
    <img 
        *ngIf="!boxArtExists(videoGame.images)"
        src="../../assets/placeholder.jpeg" 
        alt="" 
        style="height: 60px; width: 60px; margin-left: 10%;">
  </span>
  <div class="flex-grow-1" style="margin-left: 3%;">
    <h4 class="list-group-item-heading">
      {{ videoGame.name }}
    </h4>
    <p class="list-group-item-text">
      {{ videoGame.rating }}
    </p>
  </div>

  <div *ngIf="showButtons == true" style="margin-top: 1.5%; margin-right: 2%;">
    <img src="../../../../../assets/youtube_edit.png" (click)="editGameTrailers()" alt="" width="50">
  </div>
  <div *ngIf="showButtons == false" style="margin-top: 1.5%; margin-right: 2%;">
    <img src="../../../../../assets/white.jpeg" alt="" width="50">
  </div>
</div>
</a>



