.mb8 {
    margin-bottom: 8px!important;
}

.di-b {
    display: block!important;
}

.w100 {
    width: 100%;
}

.statistics-updates .image {
    border: #f0f0f0 1px solid;
    height: 60px;
    opacity: 1;
    overflow: hidden;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    width: 60px;
}

.mr8 {
    margin-right: 8px!important;
}

.di-ib {
    display: inline-block!important;
}

.fl-l {
    float: left!important;
}

a, a:visited {
    color: #1c439b;
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.statistics-updates .image img {
    image-rendering: auto;
    image-rendering: optimizeQuality;
    -ms-interpolation-mode: bicubic;
}

img {
    border: 0;
}

.statistics-updates .data {
    margin-left: 48px;
}

.fn-grey2 {
    color: #787878!important;
}

span {
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}