<div>
    <div class="border_solid">
        <div class="floatRightHeader">
            <button
                *ngIf="currentReview == null"
                class="inputButton btn-middleflat" 
                style="background-color: #840428;"
                (click)="openPopup()">Write a review</button>
            <button
                *ngIf="currentReview != null"
                class="inputButton btn-middleflat" 
                style="background-color: #840428;"
                (click)="openPopup()">Update your review</button>
        </div>
        <h2 class="h2_overwrite">Reviews</h2>
    </div>
    <div class="mt-3" style="margin-bottom: 2%;">
        <h1 style="font-size: 15px;">Sort</h1>
        <select 
            class="form-select form-select-sm" 
            aria-label="Default select example" 
            style="width: 10%;"
            (change)="handleReviewOrder($event)">
            <option *ngFor="let order of reviewOrder" [ngValue]="order">
                {{ formatSortToText(order) }}
            </option>
        </select>
    </div>
    <app-details-review-item 
            *ngFor="let review of gameReviews | paginate: {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: count
            }; let i=index"
            [review]="review">
    </app-details-review-item>
</div>

<div style="margin-left: 40%;">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
</div>

<div class="clearfix mauto mt16" style="margin-bottom: 290px;"></div>

<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}"
style="backdrop-filter: blur(5px);">
<div class="modal-dialog" role="document">
    <div class="modal-content" style="margin-top: 20%;">
    <div class="modal-header">
        <h4 class="modal-title">Write a review for {{videoGame.name}}</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="review" style="font-size: 13pt;">Be as detailed as possible!</label>
                        <textarea
                            type="text"
                            id="review"
                            class="form-control"
                            rows="6"
                            formControlName="review"
                            ></textarea>
                        <span
                            *ngIf="
                            !reviewForm.get('review')!.valid &&
                            reviewForm.get('review')!.touched
                            "
                            class="help-block"
                            >Write your review in order to be seen by everyone!</span
                            >
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReviewTips" aria-expanded="false" aria-controls="collapseReviewTips" style="background-color: #840428; border-color: #840428; margin-bottom: 2%; margin-top: 2%;">
            Tips for New Writers
        </button>
        <div class="collapse my_scroll_div_edit" id="collapseReviewTips">
			<div class="card card-body">
                <li>Your first 105 words will be drawing more attention: Make them interesting!</li>
                <li>The best reviews use pronouns (I, me, my, you) very rarely.</li>
                <li>Avoid unnecessary openers: “This is my first review, please forgive any mistakes.”</li>
                <li>You can describe what the work is about, but keep in mind that readers have already seen the synopsis.</li>
                <li>Leave an extra line between paragraphs for easier reading.</li>
			</div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
        Cancel
        </button>
        <button
            *ngIf="currentReview == null"
            type="button" class="btn btn-success" 
            (click)="postReview()"
            [disabled]="!reviewForm.valid">
        Publish
        </button>
        <button
            *ngIf="currentReview != null"
            type="button" class="btn btn-success" 
            (click)="putReview()"
            [disabled]="!reviewForm.valid">
        Update
        </button>
    </div>
    </div>
</div>
</div>