<button 
    class="btn btn-success" 
    style="background-color: #840428; border-color: #840428; margin-left: -80%;"
    (click)="onCancel()">Back</button>

<div *ngIf="images.length > 0" style="margin-left: -80%; margin-top: 10%;">
    <div id="carouselEdit" class="carousel slide" data-bs-ride="carousel" style="width: 600px;">
        <div class="carousel-inner">
          <div 
            class="carousel-item" 
            *ngFor="let gameImage of images; let i = index" [class.active]="i === 0"
            (mouseover)="showDetails = true" (mouseleave)="showDetails = false">
            <img src={{formatPicture(gameImage.convertedData)}}  alt="..." width="600px">
            <div 
                class="carousel-caption d-none d-md-block" 
                style="background-color: rgba(122, 121, 120, 0.564);"
                *ngIf="showDetails == true">
                <h5>{{gameImage.name}}</h5>
                <p>{{gameImage.type}}</p>
                <button class="btn btn-success" (click)="downloadPicture(gameImage.url)" style="margin-right: 5px;">Download</button>
                <button class="btn btn-danger" (click)="openPopup(gameImage)">Delete</button>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselEdit" data-bs-slide="prev" style="z-index: 0;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselEdit" data-bs-slide="next" style="z-index: 0;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div *ngIf="images.length == 0">
    <h5>There are no images for this game.</h5>
</div>

<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}"
style="backdrop-filter: blur(5px);">
<div class="modal-dialog" role="document">
    <div class="modal-content" style="margin-top: 20%;">
    <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to delete this image?</h4>
    </div>
    <div class="modal-body">
        <p>Make sure you download it, if you are unsure.</p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
        No
        </button>
        <button type="button" class="btn btn-success" 
                (click)="onGameImageDelete(selectedImage)">
        Yes
        </button>
    </div>
    </div>
</div>
</div>
