<div class="statistics-updates di-b w100 mb8">
    <a href="/games/{{myGameListEntry.videoGameId}}" class="fl-l di-ib mr8 image">
        <img 
            *ngIf="boxArtExists(videoGame.images)" 
            src={{formatPicture(findBoxArtData(videoGame.images))}} 
            alt=""
            style="width: 60px; height: 60px;">

        <img 
            *ngIf="!boxArtExists(videoGame.images)" 
            src="../../../assets/placeholder.jpeg" 
            alt=""
            style="width: 60px; height: 60px;">
    </a>
    <div class="data">
        <a href="/games/{{videoGame.id}}">{{videoGame.name}}</a>
        <div>
            <span class="fn-grey2">{{myGameListEntry.timestamp}}</span>
        </div>
        <div class="fn-grey2" *ngIf="gameScore != undefined">
            {{formatGameStatus(myGameListEntry.myGameListStatusId)}} · Scored {{gameScore}}
        </div>
        <div class="fn-grey2" *ngIf="gameScore == undefined">
            {{formatGameStatus(myGameListEntry.myGameListStatusId)}}
        </div>


    </div>
    

</div>