input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 3px solid red;
}

.floatRightHeader {
    float: right;
    font-size: 11px;
    font-weight: 400;
    padding-right: 2px;
}

.border_solid {
    border-color: #bebebe;
    border-style: solid;
    border-width: 0 0 1px;
    margin: 4px 0 5px;
    padding: 3px 0;
}

a, a:visited {
    color: #1c439b;
    text-decoration: none;
}

.h2_overwrite {
    border-style: none;
    display: inline;
}

h2 {
    border-color: #bebebe;
    border-style: solid;
    border-width: 0 0 1px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    margin: 4px 0 5px;
    padding: 3px 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

::ng-deep .ngx-pagination li.current {
    background-color: #840428;
}

.inputButton.flat {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}

.inputButton.btn-middle {
    border-radius: 4px;
    padding: 4px 8px;
}

.inputButton {
    background-color: #4065ba;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-family: lucida grande,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    padding: 4px 8px;
    text-decoration: none;
}
