<!-- Edit game -->
<div class="row" style="margin-left: -100%; margin-right: -50%;" *ngIf="editMode == true">
	<div class="">
		<h4>Edit game - "{{ gameToEdit.name }}"</h4>
        <button 
            class="btn btn-success" 
            style="background-color: #840428; border-color: #840428;"
            (click)="onCancel()">Back</button>
        <br>
		<br>
		<p>
			<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGameEdit" aria-expanded="false" aria-controls="collapseGameEdit" style="background-color: #840428; border-color: #840428;">
			Edit video-game information/contents
			</button>
		</p>
		<div class="d-flex flex-row bd-highlight mb-3">
			<p>
				<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGameEditPicture" aria-expanded="false" aria-controls="collapseGameEditPicture" style="margin-right: 5px; background-color: #840428; border-color: #840428;">
				Edit video-game boxart
				</button>
			</p>
			<p>
				<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGameEditPictureGeneric" aria-expanded="false" aria-controls="collapseGameEditPictureGeneric" style="background-color: #840428; border-color: #840428;">
				Edit video-game pictures
				</button>
			</p>
		</div>
		<p style="margin-top: -15px;">
			<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGameAddTrailer" aria-expanded="false" aria-controls="collapseGameAddTrailer" style="background-color: #840428; border-color: #840428;">
			Add video-game trailer
			</button>
		</p>
		<div class="collapse my_scroll_div_edit" id="collapseGameEdit" style="width: 70%;">
			<div class="card card-body">
				<form [formGroup]="gameForm" (ngSubmit)="onSubmit()" class="justify-content-start">
				<br>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="name">Name</label>
							<input
								type="text"
								id="name"
								class="form-control"
								formControlName="name"
								style="width:100%;"
								/>
							<span
								*ngIf="
								!gameForm.get('name')!.valid && gameForm.get('name')!.touched
								"
								class="help-block"
								>Please enter a game name!</span
								>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="developer">Developer</label>
							<select class="form-select" name="developer" id="developer" formControlName="developer">
							<option 
							*ngFor="let developer of developers"
							[value]="developer.id"
							> {{ developer.name }}</option>
							</select>
							<span
								*ngIf="
								!gameForm.get('developer')!.valid && gameForm.get('developer')!.touched
								"
								class="help-block"
								>Please enter a developer!</span
								>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="publisher">Publisher</label>
							<select class="form-select" name="publisher" id="publisher" formControlName="publisher">
							<option 
							*ngFor="let publisher of publishers"
							[value]="publisher.id"
							> {{ publisher.name }}</option>
							</select>
							<span
								*ngIf="
								!gameForm.get('publisher')!.valid && gameForm.get('publisher')!.touched
								"
								class="help-block"
								>Please enter a publisher!</span
								>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="release">Release date</label>
							<input
								type="date"
								placeholder="dd-mm-yyyy"
								id="release"
								class="form-control"
								formControlName="release"
								/>
							<span
								*ngIf="
								!gameForm.get('release')!.valid && gameForm.get('release')!.touched
								"
								class="help-block"
								>Please enter a release date!</span
								>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="genre">Genre</label>
							<select class="form-select" name="genre" id="genre" formControlName="genre">
							<option 
							*ngFor="let genre of genres"
							[value]="genre.id"
							> {{ genre.name }}</option>
							</select>
							<span
								*ngIf="
								!gameForm.get('genre')!.valid && gameForm.get('genre')!.touched
								"
								class="help-block"
								>Please enter a genre!</span
								>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="rating">Rating (Preferably in ESRB format)</label>
							<input
								type="text"
								id="rating"
								class="form-control"
								formControlName="rating"
								style="width:100%;"
								/>
							<span
								*ngIf="
								!gameForm.get('rating')!.valid && gameForm.get('rating')!.touched
								"
								class="help-block"
								>Please enter an age rating!</span
								>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="description">Description</label>
							<textarea
								type="text"
								id="description"
								class="form-control"
								rows="6"
								formControlName="description"
								></textarea>
							<span
								*ngIf="
								!gameForm.get('description')!.valid &&
								gameForm.get('description')!.touched
								"
								class="help-block"
								>Please enter a description for the game.</span
								>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-12">
						<button
						type="submit"
						class="btn btn-success"
						[disabled]="!gameForm.valid"
						style="margin-right: 5px"
						*ngIf="editMode == true"
						>
						Update
						</button>
						<button
							type="button"
							class="btn btn-warning"
							style="background-color: rgb(206, 206, 4); margin-right: 5px"
							(click)="onCancel()"
							>
						Cancel
						</button>
						<button type="button" class="btn btn-danger" (click)="onResetForm()">
						Reset
						</button>
					</div>
				</div>
				</form>
			</div>
		</div>
		<div class="collapse my_scroll_div_edit" id="collapseGameEditPicture">
			<div class="card card-body" style="width: 50%;">
				<app-file-upload
					[gameId]="gameToEdit.id"
					></app-file-upload>
			</div>
		</div>
		<div class="collapse my_scroll_div_edit" id="collapseGameEditPictureGeneric">
			<div class="card card-body" style="width: 50%;">
				<app-file-upload-generic
					[gameId]="gameToEdit.id"
					></app-file-upload-generic>
			</div>
		</div>
        <div class="collapse my_scroll_div_edit" id="collapseGameAddTrailer">
			<div class="card card-body" style="width: 50%;">
                <h4>Paste youtube link here:</h4>
                <form (ngSubmit)="onTrailerSubmit()" class="d-flex">
                    <div class="input-group input-group-sm mb-3 justify-content-start" style="width: 80%; margin-left: 0.25%;">
                        <input 
                            type="text" 
                            class="form-control" 
                            aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm"
                            placeholder="ex: https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                            [(ngModel)]="trailerURL"
                            [ngModelOptions]="{standalone: true}">
                        <button class="btn btn-success">Add</button> 
                    </div>  
                </form>
                <div *ngIf="trailerMessage" class="alert alert-secondary" role="alert">
                    {{ trailerMessage }}
                  </div>
			</div>
		</div>
	</div>
</div>

<!-- Add game -->
<div class="row" style="margin-left: -50%; margin-right: -50%;" *ngIf="editMode == false">
	<div class="col-xs-12">
		<h4>Add a game</h4>
		<form [formGroup]="gameForm" (ngSubmit)="onSubmit()" class="justify-content-start my_scroll_divv">
		<br>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="name">Name</label>
					<input
						type="text"
						id="name"
						class="form-control"
						formControlName="name"
						style="width:100%;"
						/>
					<span
						*ngIf="
						!gameForm.get('name')!.valid && gameForm.get('name')!.touched
						"
						class="help-block"
						>Please enter a game name!</span
						>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="developer">Developer</label>
					<select class="form-select" name="developer" id="developer" formControlName="developer">
					<option 
					*ngFor="let developer of developers"
					[value]="developer.id"
					> {{ developer.name }}</option>
					</select>
					<span
						*ngIf="
						!gameForm.get('developer')!.valid && gameForm.get('developer')!.touched
						"
						class="help-block"
						>Please enter a developer!</span
						>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="publisher">Publisher</label>
					<select class="form-select" name="publisher" id="publisher" formControlName="publisher">
					<option 
					*ngFor="let publisher of publishers"
					[value]="publisher.id"
					> {{ publisher.name }}</option>
					</select>
					<span
						*ngIf="
						!gameForm.get('publisher')!.valid && gameForm.get('publisher')!.touched
						"
						class="help-block"
						>Please enter a publisher!</span
						>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="release">Release date</label>
					<input
						type="date"
						placeholder="dd-mm-yyyy"
						id="release"
						class="form-control"
						formControlName="release"
						/>
					<span
						*ngIf="
						!gameForm.get('release')!.valid && gameForm.get('release')!.touched
						"
						class="help-block"
						>Please enter a release date!</span
						>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="genre">Genre</label>
					<select class="form-select" name="genre" id="genre" formControlName="genre">
					<option 
					*ngFor="let genre of genres"
					[value]="genre.id"
					> {{ genre.name }}</option>
					</select>
					<span
						*ngIf="
						!gameForm.get('genre')!.valid && gameForm.get('genre')!.touched
						"
						class="help-block"
						>Please enter a genre!</span
						>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="rating">Rating (Preferably in ESRB format)</label>
					<input
						type="text"
						id="rating"
						class="form-control"
						formControlName="rating"
						style="width:150%;"
						/>
					<span
						*ngIf="
						!gameForm.get('rating')!.valid && gameForm.get('rating')!.touched
						"
						class="help-block"
						>Please enter an age rating!</span
						>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="description">Description</label>
					<textarea
						type="text"
						id="description"
						class="form-control"
						rows="6"
						formControlName="description"
						></textarea>
					<span
						*ngIf="
						!gameForm.get('description')!.valid &&
						gameForm.get('description')!.touched
						"
						class="help-block"
						>Please enter a description for the game.</span
						>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12">
				<button
					type="submit"
					class="btn btn-success"
					[disabled]="!gameForm.valid"
					style="margin-right: 5px"
					>
				Save
				</button>
				<button
					type="button"
					class="btn btn-warning"
					style="background-color: rgb(206, 206, 4); margin-right: 5px"
					(click)="onCancel()"
					>
				Cancel
				</button>
				<button type="button" class="btn btn-danger" (click)="onResetForm()">
				Reset
				</button>
			</div>
		</div>
		</form>
	</div>
</div>