#profileWrapper {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: left;
    width: 1240px;
}

#contentWrapper {
    background-color: #fff;
    min-height: 555px;
    padding-bottom: 30px;
    position: relative;
}

.h1 {
    background-color: #983b55;
    border-bottom-color: #1c439b;
    border-left-color: #e5e5e5;
    border-right-color: #e5e5e5;
    border-style: solid;
    border-top-color: #e5e5e5;
    border-width: 1px;
    color: white;
    font-family: Verdana,Arial;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 5px 9px;
    text-align: left;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.h1 span {
    line-height: inherit;
}

.di-ib {
    display: inline-block!important;
}

.po-r {
    position: relative!important;
}

span {
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.header-right {
    display: block;
    float: right;
    font-family: verdana,arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.0em;
    margin: 9px;
}

.mt4 {
    margin-top: 4px!important;
}

.mr0 {
    margin-right: 0!important;
}

#content {
    padding: 8px;
    background-color: #fff;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 5px 10px 10px;
    position: relative;
}

.content-container {
    display: table;
    width: 100%;
}

.content-container .container-left {
    border-right: #e5e5e5 1px solid;
    display: table-cell;
    padding: 8px 8px 8px 0;
    vertical-align: top;
    width: 225px;
}

.content-container .container-right {
    display: table-cell;
    padding-left: 8px;
    vertical-align: top;
}

.user-profile {
    display: block;
    width: 224px;
}

.user-profile .user-image {
    display: block;
    text-align: center;
}

.mb8 {
    margin-bottom: 8px!important;
}

.user-image img {
    max-width: 225px;
}

img {
    border: 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.user-profile .user-status.border-top {
    border-top: #f0f0f0 1px solid;
}
.user-profile .user-status {
    margin: 0; 
    padding: 0;
}

.pb8 {
    padding-bottom: 8px!important;
}

.mb4 {
    margin-bottom: 4px!important;
}

ul {
    /* display: block; */
    list-style-type: disc;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}

.user-profile .user-status li {
    background-color: #fff;
    display: block;
    padding: 4px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    width: 216px;
}

.fw-b {
    font-weight: 700!important;
}

.di-ib {
    display: inline-block!important;
}

.fl-l {
    float: left!important;
}

.fl-r {
    float: right!important;
}

.user-profile .user-status li .user-status-data {
    max-width: 216px;
    word-wrap: break-word;
}

.mb12 {
    margin-bottom: 12px!important;
}

.user-profile .user-button .btn-profile-submit {
    background-color: #840428;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Avenir,sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    width: 220px;
}

.mb24 {
    margin-bottom: 24px!important;
}

.content-container .container-right h2 {
    border-color: #f0f0f0;
    border-style: solid;
    border-width: 0 0 1px;
    color: #000;
    font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 4px 0;
    padding: 2px 0;
}

.user-statistics .user-statistics-stats {
    display: table;
    width: 100%;
}

.mt16 {
    margin-top: 16px!important;
}

.user-statistics .user-statistics-stats .stats {
    display: table-cell;
    padding-right: 8px;
    width: 50%;
}

.content-container .container-right h5 {
    border-bottom: #f0f0f0 1px solid;
    font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
    padding-bottom: 2px;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.user-statistics .user-statistics-stats .updates {
    display: table-cell;
    padding-left: 0;
    width: 50%;
}

.pt8 {
    padding-top: 8px!important;
}

.di-t {
    display: table!important;
}

.w100 {
    width: 100%;
}

.fw-b {
    font-weight: 700!important;
}

.fs12 {
    font-size: 12px!important;
}

.pl8 {
    padding-left: 8px!important;
}

.di-tc {
    display: table-cell!important;
}

.al {
    text-align: left!important;
}

.fn-grey2 {
    color: #787878!important;
}

.fw-n {
    font-weight: 400!important;
}

.user-statistics .stats-graph {
    background-color: #f8f8f8;
    border-radius: 2px;
    display: block;
    height: 18px;
    margin: 0 auto;
    overflow: hidden;
    width: 380px;
}

.mt8 {
    margin-top: 8px!important;
}

.user-statistics .stats-graph .graph.playing {
    background-color: #2db039;
}

.user-statistics .stats-graph .graph.finished {
    background-color: #26448f;
}

.user-statistics .stats-graph .graph.dropped {
    background-color: #a12f31;
}

.user-statistics .stats-graph .graph.plan_to_play {
    background-color: #8f8f8f;
}

.user-statistics .stats-graph .graph {
    display: inline-block;
    height: 18px;
    width: 0;
}

.mt12 {
    margin-top: 12px!important;
}

.mr8 {
    margin-right: 8px!important;
}

.ml8 {
    margin-left: 8px!important;
}

.user-statistics .stats-status {
    margin: 0;
    padding: 0;
    width: 160px;
}

.user-statistics .stats-status .circle {
    position: relative;
    text-indent: 24px;
}

a, a:visited {
    color: #1c439b;
    text-decoration: none;
}

.lh10 {
    line-height: 1em!important;
}

.user-statistics .stats-status .circle.playing:after {
    background-color: #2db039;
}

.user-statistics .stats-status .circle.finished:after {
    background-color: #26448f;
}

.user-statistics .stats-status .circle.dropped:after {
    background-color: #a12f31;
}

.user-statistics .stats-status .circle.plan_to_play:after {
    background-color: #8f8f8f;
}

.user-statistics .stats-status .circle:after {
    border-radius: 1em;
    content: '';
    display: block;
    height: 12px;
    left: 0;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 12px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    list-style-type: none;
}

.di-b {
    display: block!important;
}
