.review-element {
    background-color: #fff;
}

.review-element .thumbbody {
    border-bottom: 1px solid #f0f0f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 14px;
}

.mt8 {
    margin-top: 8px!important;
}

.review-element .thumbbody .thumb {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
    margin-right: 10px;
    width: 50px;
}

a, a:visited {
    color: #1c439b;
    text-decoration: none;
}

.review-element .thumbbody .thumb img {
    border: 1px solid #bebebe;
    padding: 0;
}

.lazyloaded {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimizeQuality;
    -ms-interpolation-mode: bicubic;
    opacity: 1;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.review-element .thumbbody .body {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
}

.review-element .thumbbody .body .update_at {
    color: #787878;
    float: right;
}

.review-element .thumbbody .body .username {
    font-weight: 700;
    margin-bottom: 12px;
}

.review-element .thumbbody .body .text {
    color: #000;
    font-weight: 400;
    line-height: 1.5em;
    word-break: break-word;
}