.wrapper {
    width: 100%;
    -webkit-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 3px solid red;
}

.info-wrap {
    margin-top: -20px;
    margin-bottom: -20px;
    border-radius: 5px;
}
.bg-primary {
    background: #840428 !important;
}

.info-wrap .dbox {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 25px;
}

.info-wrap .dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.info-wrap .dbox .icon span {
    font-size: 20px;
    color: #fff;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-phone {
    content: "\f095";
}

.info-wrap .dbox .text {
    width: calc(100% - 50px);
}
.pl-3, .px-3 {
    padding-left: 1rem !important;
}

.info-wrap .dbox p {
    margin-bottom: 0;
}

.info-wrap .dbox p span {
    font-weight: 600;
    color: #fff;
}

.info-wrap .dbox p a {
    color: #fff;
}