<div id="carouselTrailer" class="carousel slide" data-bs-interval="9999999999" data-bs-ride="carousel" style="max-width:min-content; margin-left: 1%;">
    <div class="carousel-inner" style="margin-left: 150px; margin-right: 150px;">
      <div 
        class="carousel-item"
        *ngFor="let trailer of trailers; let i = index" [class.active]="i === 0">
        <youtube-player videoId={{trailer.youtubeId}}> </youtube-player>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTrailer" data-bs-slide="prev" style="z-index: 0; background-color: gray;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselTrailer" data-bs-slide="next" style="z-index: 0; background-color: gray; margin-left: 50px;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div style="margin-bottom: 200px;"></div>
