<td class="data" style="text-align: center; color: {{myGameListConfig.textColor}};">{{gameIndex}}</td>
<td class="data" *ngIf="videoGame">
    <a href="/games/{{videoGame.id}}">
        <img *ngIf="boxArtExists(videoGame.images)" src={{formatPicture(findBoxArtData(videoGame.images))}} alt="" style="width: 100px;">

        <img *ngIf="!boxArtExists(videoGame.images)" src="../../../../assets/placeholder.jpeg" alt="" style="width: 100px;">
    </a>
</td>
<td class="data title" *ngIf="videoGame">
    <a href="/games/{{videoGame.id}}" style="color: {{myGameListConfig.textColor}};">{{videoGame.name}}</a>
</td>
<td *ngIf="videoGame" class="data" style="text-align: center; color: {{myGameListConfig.textColor}};">{{videoGame.averageScore}}</td>
<td *ngIf="videoGame" class="data" style="text-align: center; color: {{myGameListConfig.textColor}};">{{videoGame.genre.name}}</td>
<td *ngIf="videoGame" class="data" style="text-align: center; color: {{myGameListConfig.textColor}};">{{videoGame.gameDeveloper.name}}</td>
<td *ngIf="videoGame" class="data" style="text-align: center; color: {{myGameListConfig.textColor}};">{{videoGame.gamePublisher.name}}</td>
<td *ngIf="videoGame" class="data" style="text-align: center; color: {{myGameListConfig.textColor}};">{{videoGame.rating}}</td>
  
