<div class="row" style="margin-left: -50%; margin-right: -50%;">
    <div class="col-xs-12">
        <h4>Add a publisher</h4>
        <form [formGroup]="publisherForm" (ngSubmit)="onSubmit()" class="justify-content-start my_scroll_divv">
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        id="name"
                        class="form-control"
                        formControlName="name"
                        style="width:100%;"
                    />
                    <span
                        *ngIf="
                        !publisherForm.get('name')!.valid && publisherForm.get('name')!.touched
                        "
                        class="help-block"
                        >Please enter a publisher!</span
                    >
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                    <label for="establish">Establish date</label>
                    <input
                        type="date"
                        placeholder="dd-mm-yyyy"
                        id="establish"
                        class="form-control"
                        formControlName="establish"
                    />
                    <span
                        *ngIf="
                        !publisherForm.get('establish')!.valid && publisherForm.get('establish')!.touched
                        "
                        class="help-block"
                        >Please enter a date!</span
                    >
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                  <button
                    type="submit"
                    class="btn btn-success"
                    [disabled]="!publisherForm.valid"
                    style="margin-right: 5px"
                  >
                    Save
                  </button>
                  <button
                    type="button"
                    class="btn btn-warning"
                    style="background-color: rgb(206, 206, 4); margin-right: 5px"
                    (click)="onCancel()"
                  >
                    Cancel
                  </button>
                  <button type="button" class="btn btn-danger" (click)="onResetForm()">
                    Reset
                  </button>
                </div>
            </div>
        </form>

    </div>
</div>