<div class="list-block">
    <div class="list-unit">
        <div 
            class="list-status-title" 
            style="background-color: {{userOfGameList.myGameListConfig.textColor}};">
            <span 
                class="text" 
                style="color: {{userOfGameList.myGameListConfig.backgroundColor}};">NOW PLAYING</span>

        </div>
        <table *ngIf="userOfGameList.myGameListEntries.length > 0" class="list-table" style="border: {{userOfGameList.myGameListConfig.textColor}} 1px solid;">
            <tbody>
                <tr 
                class="list-table-header" 
                style="color: {{userOfGameList.myGameListConfig.textColor}}; border-bottom: {{userOfGameList.myGameListConfig.textColor}} 1px solid;">
                    <th class="header-title number">#</th>
                    <th class="header-title image">Image</th>
                    <th class="header-title title">Game Title</th>
                    <th class="header-title score">Score</th>
                    <th class="header-title genre">Genre</th>
                    <th class="header-title developer">Developer</th>
                    <th class="header-title publisher">Publisher</th>
                    <th class="header-title rated">Rated</th>
                </tr>
                <tr 
                class="list-table-data"
                app-all-game-list-item
                *ngFor="let entry of myGameListEntries; let i = index"
                [myGameListEntry]="entry"
                [myGameListConfig]="userOfGameList.myGameListConfig"
                [gameIndex]="i+1">
                </tr>
            </tbody>
        </table>
        <h5 
        *ngIf="userOfGameList.myGameListEntries.length == 0"
        class="d-flex justify-content-center"
        style="margin-top: 25%; font-size: 20pt; color: {{userOfGameList.myGameListConfig.textColor}};"
        >No games were found on {{userOfGameList.username}}'s list
        </h5>
    </div>
</div>