h2 {
    border-color: #bebebe;
    border-style: solid;
    border-width: 0 0 1px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    margin: 4px 0 5px;
    padding: 3px 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.floatRightHeader {
    float: right;
    font-size: 11px;
    font-weight: 400;
    padding-right: 2px;
}

span {
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #1c439b;
    text-decoration: none;
}

.review-element {
    background-color: #fff;
}

.review-element .thumbbody {
    border-bottom: 1px solid #f0f0f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 14px;
}
.page-common .mt8 {
    margin-top: 8px!important;
}

